/* bg: #F5F7F3 fg: #1E3321 font: #010203 */

body,
html {
	font-family: 'Roboto', sans-serif;
	color: #010203;
	background-color: #f9f9f9;
	width: 100vw;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	color: #27482c;
	margin: 0;
	padding: 0;
}

header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px;
}

nav a {
	margin: 0 7px;
	text-decoration: none;
	color: #27482c;
	font-weight: bold;
}
